---
// https://github.com/digital-go-jp/design-system-example-components-react/tree/main/src/components
import Button from "../../components/vue/Button.vue";
import Divider from "../../components/vue/Divider.vue";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="p-4">
    <Button size="lg" className="bg-amber-500" client:load>button</Button>
    <Divider color="gray-536" className="border-4" client:load />
  </div>
</Layout>