.list {
  display: flex;
}

.listItem {
  position: relative;
}

.listItemThumbnail {
  display: block;
  width: 80px;
  height: 80px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.listItemDelete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #000;
  border-radius: 50%;
}

:where(.listItem:hover) {
  .listItemDelete {
    display: block;
  }
}