---
import { Button } from "../../components/test/button";
import Layout from "../../layouts/TestLayout.astro";
---

<Layout title="my title">
  <div>
    <Button client:load>test</Button>
  </div>
</Layout>
